// Основные цвета
$primary-color: #6A164F;
$secondary-color: #A13B80;
$background-color: #FEFEFE;
$shadow-color: rgba(0, 0, 0, 0.1);

// Дополнительные цвета
$link-hover-color: $secondary-color;
$menu-button-color: $primary-color;

$logo-url: '/images/logo_pol.png';
$main-image-url: '/images/main.jpg';