@import '@/app/constants';

.bodyBackground {
  height: 100vh;
  margin-top: 0;
  width: 100%;
  background-image: url($main-image-url);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 90px;
    z-index: 1;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #FEFEFE;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      @media (max-width: 991px) {
        text-align: center;
      }
      h1 {
        @media (max-width: 991px) {
          font-size: 24px;
        }
        @media (max-width: 360px) {
          font-size: 20px;
        }
        font-size: 32px;
      }
    }

  }

  .searchContainer {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
    border-radius: 30px;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease;
  }

  .searchIcon {
    margin-right: 10px;
    color: $menu-button-color;
  }

  .searchInput {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 300px;
    @media (max-width: 380px) {
      width: 240px;
    }
    background-color: rgba(255, 255, 255, 0);

    &::placeholder {
      transition: color 0.2s ease;
    }

    &:focus::placeholder {
      color: rgba(0, 0, 0, 0);
    }
  }

  @media (min-width: 660px) {
    .searchContainer:hover,
    .searchContainer:focus-within {
      transform: scale(1.2);
    }
  }
}
